<!DOCTYPE html>
<html ng-app>
  <head>
    <title>Ticket 2 Ride Math!</title>
    
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
      body{padding-top: 60px;}
      .center{text-align: center;}
    </style>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      function MainController($scope){
        $scope.one    = 0;
        $scope.two    = 0;
        $scope.three  = 0;
        $scope.four   = 0;
        $scope.five   = 0;
        $scope.six    = 0;
        $scope.eight  = 0;
        $scope.routes = 0;
        
        $scope.calculate = function(){
          if ($scope.route){
            $scope.routeBonus = 10;
          }else{
            $scope.routeBonus = 0;
          };
        
          if ($scope.tickets){
            $scope.ticketsBonus = 15;
          }else{
            $scope.ticketsBonus = 0;
          };
          
          $scope.total = $scope.one + 
                         $scope.two * 2 + 
                         $scope.three * 4 + 
                         $scope.four * 7 + 
                         $scope.five * 10 + 
                         $scope.six * 15 + 
                         $scope.eight * 21 
                         $scope.routeBonus + 
                         $scope.ticketsBonus + 
                         $scope.routes;

          return $scope.total;
        };
      };
    </script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand">Ticket 2 Ride Counter</a>
        </div>
      </div>
    </div>
    <div class="container" ng-controller="MainController">
      <div class="row-fluid">
        <div class="span6 offset3">
          <div class="well">
            <form class="form-horizontal" ng-submit="calculate()">
              <fieldset>
                <legend>Point Calculator</legend>
                <p>Enter the number of routes you completed of each length</p>
                <div class="control-group ">
                  <label class="control-label" for="trains1">1 Train</label>
                  <div class="controls">
                    <input type="number" id="trains1" ng-model="one">
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="trains2">2 Trains</label>
                  <div class="controls">
                    <input type="number" id="trains2" ng-model="two">
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="trains3">3 Trains</label>
                  <div class="controls">
                    <input type="number" id="trains3" ng-model="three">
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="trains4">4 Trains</label>
                  <div class="controls">
                    <input type="number" id="trains4" ng-model="four">
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="trains5">5 Trains</label>
                  <div class="controls">
                    <input type="number" id="trains5" ng-model="five">
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="trains6">6 Trains</label>
                  <div class="controls">
                    <input type="number" id="trains6" ng-model="six">
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="trains8">8 Trains</label>
                  <div class="controls">
                    <input type="number" id="trains8" ng-model="eight">
                  </div>
                </div>
                <p>Enter the number of points from your destination tickets</p>
                <div class="control-group">
                  <label class="control-label" for="trains6">Points from Routes</label>
                  <div class="controls">
                    <input type="number" id="trains6" ng-model="routes">
                  </div>
                </div>
              </fieldset>
              <div class="controls">
                <label class="checkbox">
                  <input type="checkbox" ng-model="route"> Longest Route
                </label>
                <label class="checkbox">
                  <input type="checkbox" ng-model="tickets"> Most Complete Tickets
                </label>
              </div>
              <div class="pull-right">
                <button type="submit" class="btn btn-primary">Calculate Score</button>
              </div>
            </form>
            <div class="clearfix"></div>
            <hr />
            <div class="center">
              <h3>Total Score: {{total}}</h3>
            </div>
          </div>          
        </div>
      </div>
    </div>
  </body>
</html>